@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');

* { 
    margin: 0px; 
    padding: 0px;
    box-sizing: border-box; 
    font-family: 'Lato', sans-serif; 
}

a{
    color: black;
}

.main-container{
    display: flex;
    flex-direction: column;
    background: url(../img/fondo8.jpg);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    height: 550px;
}

.margin-container{ 
    padding: 0 5px;
    margin-bottom: 10px;
}

.menu{
    display: flex;
    height: 40px;
    align-items: center;
    background: rgba(0, 0,0, 0.3); 
}
    .logo{
        flex: 1 1 25%;
    }
        .logoimg{
            width: 50px;
            height: 40px;
    }  
    .titulo{
        display: flex;
        flex: 1 1 50%; 
        justify-content: center;
        font-size: 20px;
        color: white;
        font-weight: 700;   
    }
    .isesion{
        display: flex;
        justify-content: center;
        flex: 1 1 25%;
        font-size: 13.5px;
      }
      .isesion_iniciar{
          color: white;
          font-weight: bolder;
          text-decoration: none;
      }
      .isesion a:hover{
          color: #000
      } 

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 480px;
    width: 70%;
    background: rgba(255, 255, 255, 0.329); 
    border-radius: 8px;
    margin: 20px auto;
}
    .iniciar{
        text-transform: uppercase;
        font-weight: bolder;
        margin-top: 20px;
        padding: 10px;
        font-size: 15px;
    }
    .logo-acme{
        border-radius: 50%;
        width: 150px;
        margin: 10px;
    }
    .form{
        display: flex;
        flex-direction: column;    
    } 
        input::-webkit-input-placeholder {
            font-weight: bold;
            text-align: center;
        }

        .form input{
            margin-top: 8px;
            padding: 10px;
            border: 0;
            border-radius: 5px;
            width: 160px;
        }

    .record-haz{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 8px;
        width: 100%;
        font-size: 14px;
    }
    .ini_crear{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 18px;
    }
        .boton{
            text-align: center;
            font-weight: bolder;
            border-radius: 40px;
            width: 150px;
            padding: 9px;
            border: 1px solid #0090b9;
            background-color: #0090b9;
            font-size: 15px;
            cursor: pointer;
            outline: none;
        }
        .ini_crear input:hover{
            background: #00aada;
        }
        .crear_cuenta{
            font-size: 14px;
            padding: 10px;
        }

/*Móvil*/
@media only screen and (max-width: 767px){ 
}
    /*Variante móvil*/
    @media only screen and (min-width: 465px) and (max-width: 767px){ 
        .container{
            width: 45%;
        }
    }

/*Tablet*/
@media only screen and (min-width: 768px) and (max-width: 1023px){ 
    .menu{
        height: 50px;
    }
    .titulo{
        font-size: 32px;
    }
    .logoimg{
        width: 60px;
        height: 50px;
    }
    .isesion{
        font-size: 16px;
    }
    .container{
        width: 35%;
    }
    .iniciar{
        font-size: 16px;
    }
}

@media only screen and (min-width: 1024px){ 
    .main-container{
        height: 625px;
    }
    .menu{
        height: 65px;
    }
    .logoimg{
        width: 75px;
        height: 65px;
        margin-left: 30px;
    }
    .titulo{
        font-size: 45px;
    }
    .isesion{
        font-size: 18px;
    }
    .container{
        margin: 30px auto;
        width: 28%;
    }
    .iniciar{
        font-size: 17px;
    }
}